
<div class="wrapper-tasks">
	<div class="tasks">
		<% if @task %>
		  <form action="/<%= @task.id %>" method="post" id="edit">
		    <input type="hidden" name="_method" value="put">
		    <textarea name="content" class="form-control" rows="3"><%= @task.content %></textarea><br>
		    <!-- <div class="edit-btns"> -->
			    <input type="submit" class="btn btn-primary btn-edit"></form>
			    <form action="/<%= @task.id %>" method="post" id="delete">
	    			<input type="hidden" name="_method" value="delete">
				  	<input class="btn btn-danger btn-delete" type="submit" value="Delete">
				  </form>
		  	<!-- </div> -->
		   
		<% else %>
		  <p>Note not found.</p>
		<% end %>
	</div>
</div>